<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <h3 class="title" align="center">
        Listagem de Programadores
    </h3>
    
    <main id="app">



        <div class="box has-background-grey-light ">

            <h3 class="subtitle" align="center">
                Filtrar por
            </h3>

            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop mx-3 pb-0">
                
                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox">
                        Nome
                    </label>
                </div>

                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox">
                        Habilidades
                    </label>
                </div>

                <div class="column">
                    <p class="buttons" align="center">
                        <button class="button is-info is-rounded">
                            <span>Filtrar</span>
                            <span class="icon is-small">
                              <i class="fas fa-eye"></i>
                            </span>
                        </button>
                    </p>
                </div>

            </div>
        </div>



    </div>

    </main>

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app2.js" charset="utf-8"></script>
</body>
</html>